<main class="container">       
    <div class="red"></div>
    <div class="form-container">
    <img class="logo" src="/img/logo-XL.svg" alt="Logo Brick">
        <div class="flex-col">
            <p>Log into account:</p>
        </div>
        <form method="POST" action="/account/login">
            <input name="email" class="form-control" id="signUpFormEmail" placeholder="E-mail">
            <p class="error-msg">{{messageEmail}}</p>
            <p class="error-msg">{{errors.email}}</p>
            <input name="password" class="form-control" id="signUpFormPassword" placeholder="Password">
            <p class="error-msg">{{messagePsw}}</p>
            <p class="error-msg">{{errors.password}}</p>
            <input class="btn-submit" type="submit" value="Log In">
        </form>  
        <p class="bottom-msg">Need an account? <a href="/account/register">Sign In</a></p>
        <p class="bottom-msg">Just curious? <a href="/">Home</a></p>
    </div>
</main>